@charset "UTF-8";

/*common*/
.subpage_menu{
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
.subpage_menu ul{
    display: flex;
    padding-top: 20px
}
.subpage_menu ul li{
    margin-left: 16px;
}
.subpage_menu ul li:first-child{
    margin-left: 0;
}
.subpage_menu ul li a{
    display: inline-block;
    padding: 4px 20px;
    box-sizing: border-box;
    transition: color 0.5s;
}
.subpage_menu>ul>li>a:hover,.subpage_menu>ul>li.on>a{
    color: #fff;
}
#reference{
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
#reference .inner{
    width: 100%;
    height: 100%;
    position: relative;
}
#reference .page{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,0);
    background: #fff;
    padding: 30px;
}
#reference .page h3{
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 8px;
}
#reference .page h4{
    font-size: 1.25rem;
    padding: 8px 0;
}
#reference .page ul{
    padding: 8px;
}
#reference .page ul li{
    padding: 2px;
}
#reference .page p{
    opacity: 0.5;
    padding: 0 8px;
}
#reference .page .close{
    opacity: 1;
    cursor: pointer;
    text-align: right;
    margin-top: 24px;
}
footer{
    height: 72px;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
}

/*liko_bibx*/
#liko_bibx{
    width: 100%;
    text-align: center;
    background: #999;
}

/*liko_web*/
#liko_web{
    width: 100%;
    overflow: hidden;
    background: #dbe2e2;
}
#liko_web img{
    width: 100%;
}

/*reportapp*/
#reportapp{
    width: 100%;
    overflow: hidden;
    text-align: center;
    
}
#reportapp img{
    display: block;
    width: 100%;
    
}
#reportapp footer{
    color: #26b3e0;
}

/*gunhang*/
#gunhang footer{
    color: #d96c89;
}
#gunhang img{
    display: block;
    width: 100%;
}

/*blog*/
#blog img{
    display: block;
    width: 100%;
}
#blog > .subpage_menu li a{
    color: #999;
}
#blog > .subpage_menu li.on>a, #blog > .subpage_menu li a:hover{
    color: #fff;
}
#blog footer{
    background: #021526;
    color: #fff;
}